version: '2.2'

services:
  web:
    build: .
    container_name: connection-info-nodejs
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
      - ./backups/index-working-with-headers.html:/app/html/index.html
    restart: unless-stopped
