version: '2.2'

services:
  nginx:
    build: .
    container_name: connection-info-nginx-cgi
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./html:/usr/share/nginx/html
      - ./nginx-cgi-config.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
